html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.bodyBG {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( to bottom right, #222241, orange );
}

/* .header {
  background: url('./bf4_banner.jpg');
  background-size: cover;
  height: 150px;
  color: white;
} */

.grayBG {
  height: 98vh;
  width: 98%;
  /* background: #1C1C1C; */
  background: rgba( 000, 000, 000, .7 );
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputSection {
  height: 55%;
  width: 98%;
  /* background: lightgray; */
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
}

.vs {
  align-self: center;
  font-size: 40px;
  font-weight: 600;
  color: #E39B16;
  margin: 0 -10px;
  
}

.vs:hover {
  transition-timing-function: linear;
  transition: 1s;
  color: white;
  text-shadow: 0 0 20px #fefcc9,
        10px -10px 30px #feec85,
       -20px -20px 40px #ffae34, 
        20px -40px 50px #ec760c, 
       -20px -60px 60px #cd4606,
           0 -80px 70px #973716, 
        10px -90px 80px #451b0e;
}

.entryBox {
  height: 200px;
  width: 350px;
  /* background: darkslategray; */
  background:linear-gradient( to bottom right, #1C3030, silver, darkslategray ); 
  box-shadow: 10px 10px 10px;
  /* margin-top: 80px; */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputBox {
  width: 80%;
  height: 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-bottom: solid 1px orange;
  background: transparent;
  padding-left: 3px;
  outline: none;
}

.radios {
  color: darkslategray;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.submitButton {
  height: 30px;
  width: 80%;
  background: #E39200;
  border-color: #222241;
  color: #222241;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 5px 5px 10px;
  outline: none;
}

::placeholder {
  color: #BEB098;
}

.resultsSection {
  width: 98%;
  height: 50%;
  margin-top: -150px;
  display: flex;
  justify-content: space-around;
}

.resultsBox {
  height: 100%;
  width: 40%;
  background: rgba( 255, 255, 255, .2 );
  border-radius: 5%;
  padding: 10px;
  color: #D3D3D3;
}